{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "parser": "php",
                "singleQuote": false
            }
        }
    ]
}
